<a href="https://colab.research.google.com/github/DattarajPatil/Adversarial-Attack-and-Defense-Mechanism-in-Machine-Learning/blob/main/chapter_appendix-tools-for-deep-learning/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("Pyspark").getOrCreate()

In [3]:
data = [
    ("James", "Smith", "USA", "CA", 1, 10000, "2023-01-15"),
    ("Michael", "Rose", "USA", "NY", 2, 8000, "2023-01-15"),
    ("Robert", "Williams", "USA", "CA", 3, 15000, "2023-01-15"),
    ("Maria", "Jones", "IND", "TN", 4, 12000, "2023-02-20"),
    ("Jenna", "Brown", "IND", "KA", 5, 9000, "2023-02-20"),
    ("James", "Smith", "USA", "CA", 1, 10000, "2023-03-01") # Duplicate
]
schema = ["firstname", "lastname", "country", "state", "id", "salary", "join_date"]

In [4]:
df = spark.createDataFrame(data, schema)

In [5]:
df = df.withColumn("join_data", col("join_date").cast("date"))

In [6]:
df.show()

+---------+--------+-------+-----+---+------+----------+----------+
|firstname|lastname|country|state| id|salary| join_date| join_data|
+---------+--------+-------+-----+---+------+----------+----------+
|    James|   Smith|    USA|   CA|  1| 10000|2023-01-15|2023-01-15|
|  Michael|    Rose|    USA|   NY|  2|  8000|2023-01-15|2023-01-15|
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|2023-01-15|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|2023-02-20|
|    Jenna|   Brown|    IND|   KA|  5|  9000|2023-02-20|2023-02-20|
|    James|   Smith|    USA|   CA|  1| 10000|2023-03-01|2023-03-01|
+---------+--------+-------+-----+---+------+----------+----------+

In [7]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- id: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- join_date: string (nullable = true)
 |-- join_data: date (nullable = true)

In [8]:
df.select("firstname", "salary").show()

+---------+------+
|firstname|salary|
+---------+------+
|    James| 10000|
|  Michael|  8000|
|   Robert| 15000|
|    Maria| 12000|
|    Jenna|  9000|
|    James| 10000|
+---------+------+

In [9]:
df.count()

6

In [10]:
df.distinct().count()

6

In [12]:
df.dtypes

[('firstname', 'string'),
 ('lastname', 'string'),
 ('country', 'string'),
 ('state', 'string'),
 ('id', 'bigint'),
 ('salary', 'bigint'),
 ('join_date', 'string'),
 ('join_data', 'date')]

In [13]:
df.describe().show()

+-------+---------+--------+-------+-----+------------------+------------------+----------+
|summary|firstname|lastname|country|state|                id|            salary| join_date|
+-------+---------+--------+-------+-----+------------------+------------------+----------+
|  count|        6|       6|      6|    6|                 6|                 6|         6|
|   mean|     NULL|    NULL|   NULL| NULL|2.6666666666666665|10666.666666666666|      NULL|
| stddev|     NULL|    NULL|   NULL| NULL| 1.632993161855452| 2503.331114069145|      NULL|
|    min|    James|   Brown|    IND|   CA|                 1|              8000|2023-01-15|
|    max|   Robert|Williams|    USA|   TN|                 5|             15000|2023-03-01|
+-------+---------+--------+-------+-----+------------------+------------------+----------+

In [14]:
df.head(1)

[Row(firstname='James', lastname='Smith', country='USA', state='CA', id=1, salary=10000, join_date='2023-01-15', join_data=datetime.date(2023, 1, 15))]

In [15]:
df.createOrReplaceTempView("employees")

In [16]:
spark.sql("SELECT country, count(1) FROM employees GROUP BY country").show()

+-------+--------+
|country|count(1)|
+-------+--------+
|    USA|       4|
|    IND|       2|
+-------+--------+

In [18]:
df.withColumn("const_val", lit(1)).show(5)

+---------+--------+-------+-----+---+------+----------+----------+---------+
|firstname|lastname|country|state| id|salary| join_date| join_data|const_val|
+---------+--------+-------+-----+---+------+----------+----------+---------+
|    James|   Smith|    USA|   CA|  1| 10000|2023-01-15|2023-01-15|        1|
|  Michael|    Rose|    USA|   NY|  2|  8000|2023-01-15|2023-01-15|        1|
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|2023-01-15|        1|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|2023-02-20|        1|
|    Jenna|   Brown|    IND|   KA|  5|  9000|2023-02-20|2023-02-20|        1|
+---------+--------+-------+-----+---+------+----------+----------+---------+
only showing top 5 rows

In [19]:
df.withColumnRenamed("country", "source_country").show()

+---------+--------+--------------+-----+---+------+----------+----------+
|firstname|lastname|source_country|state| id|salary| join_date| join_data|
+---------+--------+--------------+-----+---+------+----------+----------+
|    James|   Smith|           USA|   CA|  1| 10000|2023-01-15|2023-01-15|
|  Michael|    Rose|           USA|   NY|  2|  8000|2023-01-15|2023-01-15|
|   Robert|Williams|           USA|   CA|  3| 15000|2023-01-15|2023-01-15|
|    Maria|   Jones|           IND|   TN|  4| 12000|2023-02-20|2023-02-20|
|    Jenna|   Brown|           IND|   KA|  5|  9000|2023-02-20|2023-02-20|
|    James|   Smith|           USA|   CA|  1| 10000|2023-03-01|2023-03-01|
+---------+--------+--------------+-----+---+------+----------+----------+

In [20]:
df.drop("join_date").show()

+---------+--------+-------+-----+---+------+----------+
|firstname|lastname|country|state| id|salary| join_data|
+---------+--------+-------+-----+---+------+----------+
|    James|   Smith|    USA|   CA|  1| 10000|2023-01-15|
|  Michael|    Rose|    USA|   NY|  2|  8000|2023-01-15|
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|
|    Jenna|   Brown|    IND|   KA|  5|  9000|2023-02-20|
|    James|   Smith|    USA|   CA|  1| 10000|2023-03-01|
+---------+--------+-------+-----+---+------+----------+

In [21]:
df.withColumn("daily_salary", col("salary")/30).show()

+---------+--------+-------+-----+---+------+----------+----------+-----------------+
|firstname|lastname|country|state| id|salary| join_date| join_data|     daily_salary|
+---------+--------+-------+-----+---+------+----------+----------+-----------------+
|    James|   Smith|    USA|   CA|  1| 10000|2023-01-15|2023-01-15|333.3333333333333|
|  Michael|    Rose|    USA|   NY|  2|  8000|2023-01-15|2023-01-15|266.6666666666667|
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|2023-01-15|            500.0|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|2023-02-20|            400.0|
|    Jenna|   Brown|    IND|   KA|  5|  9000|2023-02-20|2023-02-20|            300.0|
|    James|   Smith|    USA|   CA|  1| 10000|2023-03-01|2023-03-01|333.3333333333333|
+---------+--------+-------+-----+---+------+----------+----------+-----------------+

In [22]:
df.withColumn("daily_salary", round(col("salary")/30, 2)).show()

+---------+--------+-------+-----+---+------+----------+----------+------------+
|firstname|lastname|country|state| id|salary| join_date| join_data|daily_salary|
+---------+--------+-------+-----+---+------+----------+----------+------------+
|    James|   Smith|    USA|   CA|  1| 10000|2023-01-15|2023-01-15|      333.33|
|  Michael|    Rose|    USA|   NY|  2|  8000|2023-01-15|2023-01-15|      266.67|
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|2023-01-15|       500.0|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|2023-02-20|       400.0|
|    Jenna|   Brown|    IND|   KA|  5|  9000|2023-02-20|2023-02-20|       300.0|
|    James|   Smith|    USA|   CA|  1| 10000|2023-03-01|2023-03-01|      333.33|
+---------+--------+-------+-----+---+------+----------+----------+------------+

In [23]:
df.filter(col("salary")>10000).show()

+---------+--------+-------+-----+---+------+----------+----------+
|firstname|lastname|country|state| id|salary| join_date| join_data|
+---------+--------+-------+-----+---+------+----------+----------+
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|2023-01-15|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|2023-02-20|
+---------+--------+-------+-----+---+------+----------+----------+

In [24]:
df.filter((col("country")== "USA") & (col("state")== "NY")).show()

+---------+--------+-------+-----+---+------+----------+----------+
|firstname|lastname|country|state| id|salary| join_date| join_data|
+---------+--------+-------+-----+---+------+----------+----------+
|  Michael|    Rose|    USA|   NY|  2|  8000|2023-01-15|2023-01-15|
+---------+--------+-------+-----+---+------+----------+----------+

In [25]:
df.filter(col("state").isin("CA", "TN")).show()

+---------+--------+-------+-----+---+------+----------+----------+
|firstname|lastname|country|state| id|salary| join_date| join_data|
+---------+--------+-------+-----+---+------+----------+----------+
|    James|   Smith|    USA|   CA|  1| 10000|2023-01-15|2023-01-15|
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|2023-01-15|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|2023-02-20|
|    James|   Smith|    USA|   CA|  1| 10000|2023-03-01|2023-03-01|
+---------+--------+-------+-----+---+------+----------+----------+

In [29]:
df.filter(col("state").isNotNull()).show()

+---------+--------+-------+-----+---+------+----------+----------+
|firstname|lastname|country|state| id|salary| join_date| join_data|
+---------+--------+-------+-----+---+------+----------+----------+
|    James|   Smith|    USA|   CA|  1| 10000|2023-01-15|2023-01-15|
|  Michael|    Rose|    USA|   NY|  2|  8000|2023-01-15|2023-01-15|
|   Robert|Williams|    USA|   CA|  3| 15000|2023-01-15|2023-01-15|
|    Maria|   Jones|    IND|   TN|  4| 12000|2023-02-20|2023-02-20|
|    Jenna|   Brown|    IND|   KA|  5|  9000|2023-02-20|2023-02-20|
|    James|   Smith|    USA|   CA|  1| 10000|2023-03-01|2023-03-01|
+---------+--------+-------+-----+---+------+----------+----------+